.header {
    text-align: center;
    background-color: bisque;
    font-size: 50px;   
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: medium;
}

.item {
   width: 31%;
   height: 300px; 
   padding: 1%;
   background-color: beige;
   border-style: ridge;
}

#item-4 {
    display: inline-flex;
    height: 150px;
    width: 100%;
    gap: 5px;
}
.shop-item {
    width: 30%;
    text-align: center;
}

.selectList {
    font-size: medium;
}
.button {
    height: 30px;
    margin: 2px;
    font-size: large;
    border-radius: 10px;
}
.button:hover {
    border-width: 3px;
    filter:brightness(90%)
}
.button:active{
    transform: scale(0.95);
}
#GetLoanButton {
    background-color: pink;
    width: 100%;
}
#WorkButton {
    background-color: yellow;
    width: 48.3%;
}

#BankButton {
    background-color: green;
    width: 48.3%;
}

#RepayButton {
    width: 100%;
    background-color: red;
}

#BuyNowButton {
    width: 33%;
    height: 40px;
}

.flex-block-h1{
    text-align: center
}

.image {
    height: 150px;
    width: 150px;
}

